.close {
    position: absolute;
    right: 10px;
    left: 475px;
    top: 0;
    color: #000;
    font-size: 50px;
    font-weight: bold;
  }

.close:hover {
  color: red;
  cursor: pointer;
}


.margin {
  margin-left: 64rem!important;
}